DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/parking_auth"
JWT_ACCESS_SECRET="tu_secreto_access_aqui"
JWT_REFRESH_SECRET="tu_secreto_refresh_aqui"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3000
